@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Noto Sans";
    src: url(../font/NotoSans-VariableFont_wdth\,wght.ttf);
}





:root{
    --font-nav: "Montserrat", sans-serif;
    --font-body: "Noto Sans", sans-serif;

    --section-padding: 10vh;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
h1{
    font-family: var(--font-nav);
    font-size: 4rem;
}
h2{
    font-family: var(--font-nav);
    font-size: 2rem;
}
h3{
    font-family: var(--font-nav);
    font-size: 1.5rem;
}
h4{
    font-family: var(--font-nav);
    font-size: 1.3rem;
}
h5{
    font-family: var(--font-nav);
    font-size: 1.1rem;
}
h6{
    font-family: var(--font-nav);
    font-size: 1rem;
}
p{
    font-family: var(--font-body);
    font-size: 1rem;
}
main{
    background-color: #F5F5F5 ;
}
form input,textarea{
    font-family: var(--font-body);
    padding: 10px;
    border: 1px solid lightgray;
}
form input{
    height: 2rem;
}

@media (max-width: 1280px) {
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.2rem;
    }
    h5{
        font-size: 1rem;
    }
    p{
        font-size: 0.9rem;
    }
}