@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
}
a {
    color: #ffffff;
}



header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-size: auto;
    background-attachment: fixed;
    height: 570px;
    

}
header nav{
    position: absolute;
    top: 0;
    height: 5rem;
    width: 66%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";
    font-weight: 500;
    }
header nav ul{
    display: flex;
    gap: 2rem;
    align-items: center;
}
header section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:  1.5rem;

}
header section button {
    margin-top: 1.5rem;
}
header h1 {
    color: #ffffff;
}
header h3{
    color: #ffffff;
}

.burgerMenu {
    display: none;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
    background-color: #FB2056;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.burgerNav {
    display: none;
    gap: 0.8rem;
    top: 5rem;
    right: 0;
    position: absolute;
    background-color: #DA1C4BDD;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1200px) {
    header nav ul{
        display: none;
    }
    .burgerMenu {
        display: block;
    }
    .burgerNavOuvert {
         display: flex;
    
    }
}
@media (max-width: 650px) {
    header {
        height: 30vh;
        background-size: 200%;
        background-position: top center;
    }

    header section {
        gap: 0.5rem;
    }
    header nav{
        width: 90%;
    }

    header h1 {
        text-align: center;
        font-size: 2rem;
    }

}