@import "./css/charteGraphique.css";
@import "../templatePart/composants.css";
@import "../templatePart/header.css";
@import "../templatePart/footer.css";

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(./css/image/about-bg-5.jpg);
    background-size: auto;
    height: 570px ;
    }
main {
    padding-bottom: 5vh;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    padding: 10vh 10vh 5vh 10vh;

}
section img{
    box-shadow: 10px 10px rgb(228, 225, 225);
    width: 30rem;
    border-radius: 5px;

}
.textDisplayLeft{
    width: 30rem;
}

@media(max-width: 1200px) {
    section{
        flex-direction: column;
        
    }
    .textDisplayLeft{
        align-items: flex-start;
        text-align: left;
    }
}
@media (max-width: 650px) {
    header {
        height: 30vh;
        background-size: 200%;
    }

    header section {
        gap: 0.5rem;
    }

    header h1 {
        text-align: center;
        font-size: 2rem;
    }
    section{
        padding: 10vh 5vh 5vh 5vh;
    }
    .textDisplayLeft {
        width: 100%;
    }
    section img{
        width: 100%;
    }

}